
@{
    Layout = null;
}

<!DOCTYPE html>
@using DTTSG_Model
@{ var readNotice = ViewBag.ReadNoticeList as List<Notice>;}
@{ var unReadNotice = ViewBag.UnReadNoticeList as List<Notice>;}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公告列表</title>
    @Styles.Render("~/BookList_Css")
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>消息列表</legend>
    </fieldset>

    <div class="layui-collapse" style="padding:20px" id="notread">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>未读列表</legend>
        </fieldset>
        @if (unReadNotice != null)
        {
            foreach (var item in unReadNotice)
            {
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">
                        <span>@item.NoticeTitle</span>
                        <span class="layui-badge-dot" style="margin-left:3px"></span>
                        <span style="float:right">@item.NoticeTime</span>
                    </h2>
                    <p style="display:none">@item.NoticeId</p>
                    <div class="layui-colla-content">
                        <p>@item.NoticeContent</p>
                    </div>
                </div>
            }
        }
    </div>

    <div class="layui-collapse" style="padding:20px">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>已读列表</legend>
        </fieldset>
        @if (readNotice != null)
        {
            foreach (var item in readNotice.Take(10))
            {
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">@item.NoticeTitle</h2>
                    <p style="display:none">@item.NoticeId</p>
                    <div class="layui-colla-content">
                        <p>@item.NoticeContent</p>
                    </div>
                </div>
            }
        }
    </div>

    @Scripts.Render("~/ListInfo_Js")
    <script>
        layui.use(['element', 'layer'], function () {
            var element = layui.element;
            var layer = layui.layer;

            $("#notread .layui-colla-title").click(function () {
                var readinfo = $(this).next();      //获取点击的h2
                var readId = readinfo.text();   //获取点击的通知ID
                //console.log(this);
                $(this).find("span").removeClass("layui-badge-dot");     //去掉小红点

                if (readId == 0) return;
                //ajaxq请求
                $.ajax({
                    url: "/Notice/NoticeConfirm",
                    data: { "noticeId": readId },
                    method: "Post",
                    type: "Json",
                    success: function (result) {
                        readinfo.text("0");     //重置标签为0
                    }
                });
            });

            ////监听折叠
            //element.on('collapse(notread)', function (data) {
            //    console.log(data);

            //    //$.ajax({
            //    //    url: "/Message/MessageConfirm?", success: function (result) {
            //    //        $("#div1").html(result);
            //    //    }
            //    //});
            //});
        });
    </script>
</body>
</html>
