
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="~/css/public.css" media="all">
    @Styles.Render("~/Default_Css")

</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md8">
                    <div class="layui-row layui-col-space15">
                        <!-- 统计数据模块 -->
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header"><i class="fa fa-warning icon"></i>借阅数据统计</div>
                                <div class="layui-card-body">
                                    <div class="welcome-module">
                                        <div class="layui-row layui-col-space10">
                                            <div class="layui-col-xs6">
                                                <div class="panel layui-bg-number">
                                                    <div class="panel-body">
                                                        <div class="panel-title">
                                                            <span class="label pull-right layui-bg-blue">实时</span>
                                                            <h5>借阅总数</h5>
                                                        </div>
                                                        <div class="panel-content">
                                                            <h1 class="no-margins">18</h1>
                                                            <small>当前借阅图书总数</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-col-xs6">
                                                <div class="panel layui-bg-number">
                                                    <div class="panel-body">
                                                        <div class="panel-title">
                                                            <span class="label pull-right layui-bg-green">实时</span>
                                                            <h5>正常借阅</h5>
                                                        </div>
                                                        <div class="panel-content">
                                                            <h1 class="no-margins">9</h1>
                                                            <small>当前借阅中图书数</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-col-xs6">
                                                <div class="panel layui-bg-number">
                                                    <div class="panel-body">
                                                        <div class="panel-title">
                                                            <span class="label pull-right layui-bg-orange">实时</span>
                                                            <h5>延期总数</h5>
                                                        </div>
                                                        <div class="panel-content">
                                                            <h1 class="no-margins">2</h1>
                                                            <small>当前延期中图书数</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-col-xs6">
                                                <div class="panel layui-bg-number">
                                                    <div class="panel-body">
                                                        <div class="panel-title">
                                                            <span class="label pull-right layui-bg-red">实时</span>
                                                            <h5>未还数量</h5>
                                                        </div>
                                                        <div class="panel-content">
                                                            <h1 class="no-margins">7</h1>
                                                            <small>当前未还图书总数</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 快捷入口模块 -->
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>快捷入口</div>
                                <div class="layui-card-body">
                                    <div class="welcome-module">
                                        <div class="layui-row layui-col-space10 layuimini-qiuck">
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" layuimini-content-href="@Url.Action("BookList","Book")" data-title="图书列表" data-icon="fa fa-book">
                                                    <i class="fa fa-book"></i>
                                                    <cite>图书列表</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" layuimini-content-href="@Url.Action("BorrowList","Borrow")" data-title="借阅信息" data-icon="fa fa-clock-o">
                                                    <i class="fa fa-clock-o"></i>
                                                    <cite>借阅信息</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" layuimini-content-href="@Url.Action("CollectList","Collect")" data-title="我的收藏" data-icon="fa fa-star">
                                                    <i class="fa fa-star"></i>
                                                    <cite>我的收藏</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" layuimini-content-href="@Url.Action("ForwardList","Forward")" data-title="我的预约" data-icon="fa fa-dot-circle-o">
                                                    <i class="fa fa-dot-circle-o"></i>
                                                    <cite>我的预约</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" layuimini-content-href="@Url.Action("MessageList","Message")" data-title="公告列表" data-icon="fa fa-bell-o">
                                                    <i class="fa fa-bell-o"></i>
                                                    <cite>公告列表</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" layuimini-content-href="@Url.Action("RankList","Home")" data-title="排行榜" data-icon="fa fa-bar-chart-o">
                                                    <i class="fa fa-bar-chart-o"></i>
                                                    <cite>排行榜</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a class="layui-btn-disabled" @*href="#" layuimini-content-href="#"*@ data-title="待开发" data-icon="fa fa-snowflake-o">
                                                    <i class="fa fa-snowflake-o"></i>
                                                    <cite>待开发</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" layuimini-content-href="https://www.baidu.com" data-title="百度搜索" data-icon="fa fa-search">
                                                    <i class="fa fa-search"></i>
                                                    <cite>百度搜索</cite>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 报表模块 -->
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>报表统计</div>
                                <div class="layui-card-body">
                                    <div id="map" style="width: 100%;min-height:500px"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="layui-col-md4">
                    <!-- 公告模块 -->
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-bullhorn icon icon-tip"></i>系统公告</div>
                        <div class="layui-card-body layui-text">
                            <div class="layuimini-notice">
                                <div class="layuimini-notice-title">开放微信公众号注册</div>
                                <div class="layuimini-notice-extra">2020-10-08 23:06</div>
                                <div class="layuimini-notice-content layui-hide">
                                    界面足够简洁清爽。<br>
                                    扫码关注公众号即可无缝对接操作!
                                </div>
                            </div>
                            <div class="layuimini-notice">
                                <div class="layuimini-notice-title">新增武汉秀湖地铁站机位</div>
                                <div class="layuimini-notice-extra">2020-10-07 13:06</div>
                                <div class="layuimini-notice-content layui-hide">
                                    欢迎大家使用
                                </div>
                            </div>
                            <div class="layuimini-notice">
                                <div class="layuimini-notice-title">系统维护通知</div>
                                <div class="layuimini-notice-extra">2020-10-05 17:06</div>
                                <div class="layuimini-notice-content layui-hide">
                                    2020-10-06 晚八点至十点汉口站点检修，请注意归还以及预约情况。
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 版本信息模块 -->
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-fire icon"></i>版本信息</div>
                        <div class="layui-card-body layui-text">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="100">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>框架名称</td>
                                        <td>
                                            锐拓地铁图书管理系统
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>当前版本</td>
                                        <td>v1.0.0</td>
                                    </tr>
                                    <tr>
                                        <td>主要特色</td>
                                        <td>零门槛 / 响应式 / 清爽 / 极简</td>
                                    </tr>
                                    @*<tr>
                                        <td>Github</td>
                                        <td style="padding-bottom: 0;">
                                            <div class="layui-btn-container">
                                                <iframe src="https://ghbtns.com/github-btn.html?user=zhongshaofa&repo=layuimini&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                                <iframe src="https://ghbtns.com/github-btn.html?user=zhongshaofa&repo=layuimini&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                            </div>
                                        </td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 作者心语模块 -->
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-paper-plane-o icon"></i>作者心语</div>
                        <div class="layui-card-body layui-text layadmin-text">
                            <p>习近平总书记对大家说</p>
                            <p>人民群众多读书，我们的民族精神，就会厚重起来、深邃起来。</p>
                            <p>要提倡多读书，建设书香社会。</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="~/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    @Scripts.Render("~/Default_Js")
</body>
</html>
