
@{
    Layout = null;
}

@model DTTSG_Model.BookInfo
@using DTTSG_Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>图书详情</title>
    <link rel="stylesheet" href="~/lib/layui-v2.5.5/css/layui.css" media="all">
    <style>
        td {
            font-size: 20px !important;
            padding: 15px !important;
            text-align: left !important;
        }
        .btns {
            width:110px;
        }
        #Img {
            min-width: 100%;
            min-height: 100%;
        }
    </style>
</head>
<body>
    <div style="margin:30px">
        <a href="javascript:;" onclick="window.history.back(); //返回上一页" style="font-size:16px;">《&nbsp;&nbsp;&nbsp;返回上一页</a>
    </div>

    <div class="layui-container" style="margin-top:80px">
        <div class="layui-row" style="text-align:center">
            <div class="layui-col-md5" style="margin-bottom:30px">
                <img src="@Model.ImageInfo.ImageLink" id="Img" />
            </div>
            <div class="layui-col-md7 layui-inline">
                <table style="margin: 0 auto;">
                    <tbody>
                        <tr>
                            <td>图书名称:</td>
                            <td>@Model.BookName</td>
                        </tr>
                        <tr>
                            <td>图书状态:</td>
                            <td>@Model.BookStatu.B_StatuName</td>
                        </tr>
                        <tr>
                            <td>图书类型:</td>
                            <td>@Model.BookType.B_TypeName</td>
                        </tr>
                        <tr>
                            <td>出版书社:</td>
                            <td>@Model.BookPublic</td>
                        </tr>
                        <tr>
                            <td>图书作者:</td>
                            <td>@Model.BookAuthor</td>
                        </tr>
                        <tr>
                            <td>出版时间:</td>
                            <td>@Model.BookPubtime.ToLongDateString()</td>
                        </tr>
                        <tr>
                            <td>存书地点:</td>
                            <td>@Model.MechanInfo.MechanAddress</td>
                        </tr>
                        <tr>
                            <td>图书价格:</td>
                            <td>
                                <strong>￥ @Model.BookPrice <label>RMB</label></strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @{if (Model.B_StatuId == 1)
                                    {
                                        if (string.IsNullOrWhiteSpace((Session["User"] as UserInfo).OpenId))
                                        {
                                            <a href="javascript:;" id="queding" class="layui-btn layui-btn-normal layui-btn-lg btns">借阅</a>
                                        }
                                        else
                                        {

                                            <a href="javascript:;" id="reward" class="layui-btn layui-btn-normal layui-btn-lg btns">预约</a>
                                        }
                                    }
                                }
                                <a href="javascript:;" class="layui-btn layui-btn-normal layui-btn-lg btns" id="collect">收藏</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="~/lib/layui-v2.5.5/layui.js"></script>
    <script>
        layui.use(['layer','table'], function () {
            var layer = layui.layer,
                $ = layui.jquery;

            //电脑端借阅图书
            $("#queding").click(function () {
                $.ajax({
                    url: "/Book/BorrowBook",
                    data: { "bookId": @Model.BookId },
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data.Status == 1) {
                            //alert(data);
                            layer.msg(data.Msg, {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                window.location = '/Book/BookList';
                            });
                        }
                        else {
                            layer.msg("未知问题,请联系管理员!", { icon: 3, time: 2000 });   //其他问题
                        }
                    }
                }); //ajax结束
            });

            //手机端确认预约
            $("#reward").click(function () {
                $.ajax({
                    url: "/Forward/ForwardBook",
                    data: { "bookId": @Model.BookId },
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        if (data.Status == 1) {
                            layer.msg(data.Msg, {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                window.location = '/Book/BookList';
                            });
                        } else if (data.Status == -1) {
                            layer.msg(data.Msg, {
                                icon: 2,
                                time: 2000
                            });
                        } else if (data.Status == 0) {
                            layer.msg(data.Msg, {
                                icon: 2,
                                time: 2000
                            });
                        }
                        else {
                            layer.msg("未知问题,请联系管理员!", { icon: 3, time: 2000 });   //其他问题
                        }
                    }
                }); //ajax结束
            }); 

            //添加收藏(双端)
            $("#collect").click(function () {
                $.ajax({
                    url: "/Collect/AddCollect",
                    data: { "bookId": @Model.BookId },
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data.Status == 1) {
                            //alert(data);
                            layer.msg(data.Msg, {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                window.location = '/Book/BookList';
                                });
                        } else if (data.Status == -1) {
                            layer.msg(data.Msg, {
                                icon: 2,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            });
                        }
                        else {
                            layer.msg("未知问题,请联系管理员!", { icon: 3, time: 2000 });   //其他问题
                        }
                    }
                }); //ajax结束
            });

        });
    </script>
</body>
</html>
